## PYTHON KÜMELER (SETS)

Kümeler, birden fazla öğeyi tek bir değişkende saklamak için kullanılır.Set, Python'da veri koleksiyonlarını depolamak için kullanılan 4 yerleşik veri türünden biridir; diğer 3'ü List , Tuple ve Dictionary'dir ve hepsinin farklı nitelikleri ve kullanımları vardır.

Küme, *sıralanmamış , değiştirilemez ve dizinlenmemiş* bir koleksiyondur .

Küme, *öğeleri değiştirilemez, ancak öğeleri kaldırabilir ve yeni öğeler* ekleyebilirsiniz.

In [4]:
# ÖRNEK 1 : Küme tanımlama
myset = {"apple", "banana", "cherry"} # kümeler süslü parantez ile tanımlanır
print(myset)

{'banana', 'apple', 'cherry'}

In [14]:
# ÖRNEK 2 : Küme oluşturma , set() fonksiyonu ile
thisset = set(("apple", "banana", "cherry")) # set() fonksiyonu ile küme oluşturulabilir
print(thisset)

{'banana', 'apple', 'cherry'}

1) Küme öğeleri sıralanmamış, değiştirilemez ve yinelenen değerlere izin vermez.
2) Sıralanmamış, bir kümedeki öğelerin belirli bir sıraya sahip olmaması anlamına gelir.Küme öğeleri her kullandığınızda farklı bir sırayla görünebilir ve bunlara dizin veya anahtarla başvurulamaz.
3) Küme öğeleri değiştirilemezdir, yani küme oluşturulduktan sonra öğeleri değiştiremeyiz.Bir küme oluşturulduktan sonra, içindeki öğeleri değiştiremezsiniz; ancak öğeleri kaldırabilir ve yeni öğeler ekleyebilirsiniz.
4) Kümeler aynı değere sahip iki öğeye sahip olamaz.

In [15]:
# ÖRNEK 3 : Küme elemanlarında tekrar olmaz
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'apple', 'cherry'}

Not:True ve değerleri 1kümelerde aynı değer olarak kabul edilir ve yinelenenler olarak ele alınır:

**Örnek
True ve 1aynı değerde kabul edilir:**

In [16]:
# NOT : TRUE ve 1 aynı eleman olarak kabul edilir. Aynı şekilde FALSE ve 0 aynı eleman olarak kabul edilir.

# ÖRNEK 4 : Küme elemanları farklı veri tiplerinden olabilir
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{'banana', True, 2, 'cherry', 'apple'}

In [17]:
# ÖRNEK 5 : Küme elemanları farklı veri tiplerinden olabilir
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{'banana', False, True, 'cherry', 'apple'}

#### Bir Setin Uzunluğu
Bir kümenin kaç öğeden oluştuğunu belirlemek için " len() " fonksiyonu kullanın.

In [18]:
# ÖRNEK 6 : Kümedeki eleman sayısını bulma
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

#### Kümelerde Öğelerin Veri Türleri
Küme öğeleri herhangi bir veri türünde olabilir.

In [19]:
# ÖRNEK 7 : Küme elemanları farklı veri tiplerinden olabilir

set1 = {"apple", "banana", "cherry"} # string
set2 = {1, 5, 7, 9, 3} # integer 
set3 = {True, False, False} # boolean

In [20]:
# ÖRNEK 8 : Küme elemanları farklı veri tiplerinden olabilir
set1 = {"abc", 34, True, 40, "male"}

#### Küme Öğelerine Erişim
Bir kümedeki öğelere bir indekse veya anahtara başvurarak erişemezsiniz. Ancak bir " for " döngüsü kullanarak küme öğeleri arasında dolaşabilir veya anahtar sözcük kullanarak belirtilen bir değerin bir kümede mevcut olup olmadığını sorabilirsiniz.

In [21]:
# ÖRNEK 9 : Küme elemanlarını yazdırma
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

In [23]:
# ÖRNEK 10 : "banana" elemanı kümede var mı yok mu kontrolü
hisset = {"apple", "banana", "cherry"}

print("banana" in thisset) # "banana" elemanı kümede var mı yok mu kontrolü. True sonucu döner.

True

In [24]:
# ÖRNEK 11 : "banana" elemanı kümede var mı yok mu kontrolü
thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset) # "banana" elemanı kümede var mı yok mu kontrolü. False döner.

False

#### Kümeye Eleman Ekleme
Bir set oluşturulduktan sonra içindeki öğeleri değiştiremezsiniz, ancak yeni öğeler ekleyebilirsiniz.

In [25]:
# 1 - add() : Kümeye eleman eklemek için kullanılır.

# ÖRNEK 12 : add() fonksiyonu ile küme elemanı eklemek
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")

print(thisset)

{'banana', 'apple', 'cherry', 'orange'}

In [26]:
# 2 - update() : Kümeye birden fazla eleman eklemek için kullanılır.

# ÖRNEK 13 : update() fonksiyonu ile küme elemanı eklemek
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)

print(thisset)

{'banana', 'papaya', 'cherry', 'mango', 'pineapple', 'apple'}

In [28]:
# NOT : update() fonksionu ile kümeye liste, tuple, dictionary eklemek mümkündür.

thisset = {"apple", "banana", "cherry"} # küme
mylist = ["kiwi", "orange"] # liste

thisset.update(mylist) # liste ekleme

print(thisset) # küme elemanları

{'banana', 'kiwi', 'apple', 'cherry', 'orange'}

#### Küme Öğelerini Kaldır

In [29]:
# 1 - remove() : Kümeye eleman silmek için

thisset = {"apple", "banana", "cherry"}
thisset.remove("banana") # "banana" elemanını siler

print(thisset)

{'apple', 'cherry'}

In [31]:
# NOT : Kaldırılacak eleman kümede yoksa hata verir.

thisset = {"apple", "banana", "cherry"}
thisset.remove("strawberry") # "strawberry" elemanını siler
print(thisset)

KeyError: 'strawberry'

In [32]:
# 2 - discard() : Kümeye eleman silmek için kullanılır. Kaldırılacak eleman kümede yoksa hata vermez.

thisset = {"apple", "banana", "cherry"}
thisset.discard("strawberry") # "strawberry" elemanını siler
print(thisset)

{'banana', 'apple', 'cherry'}

In [35]:
# 3 - pop() : Kümeden rastgele bir eleman siler.

# ÖRNEK 14 : pop() fonksiyonu ile kümeden rastgele bir eleman silme
thisset = {"apple", "banana", "cherry"}
x = thisset.pop() # rastgele bir eleman siler. Silinen elemanı x değişkenine atar.
print(x)
print(thisset)

banana
{'apple', 'cherry'}

In [36]:
# 4 - clear() : Kümedeki tüm elemanları siler.

# ÖRNEK 15 : clear() fonksiyonu ile kümedeki tüm elemanları silme
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [38]:
# 5 - del : Küme elemanlarını silme

# ÖRNEK 16 : del ile küme elemanlarını silme
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset) # hata verir. Küme silindi.

NameError: name 'thisset' is not defined

#### Kümelerde Döngü İşlemleri

In [39]:
# FOR DÖNGÜSÜ : Kümeler için for döngüsü kullanımı

thisset = {"apple", "banana", "cherry"}
for x in thisset: # x değişkeni küme elemanlarını tutar.
  print(x)  # küme elemanlarını yazdırır.

banana
apple
cherry

#### Kümeleri Birleştirme

Python'da iki veya daha fazla kümeyi birleştirmenin çeşitli yolları vardır.
1) union() ve update() yöntemleri her iki kümedeki tüm öğeleri birleştirir.
2) intersection() yöntemi sadece kesişimleri turar.
3) difference() diğer kümede olmayan değerleri tutar.
4) symmetric_difference() iki kümenin kesişimi hariç diğer tüm elemanları tutar.

In [40]:
# 1- union() : İki kümenin birleşimini almak için kullanılır.

# ÖRNEK 17 : union() fonksiyonu ile iki kümenin birleşimini almak
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 3, 'c', 'a'}

In [41]:
# 2- | operatörü : İki kümenin birleşimini almak için kullanılır.

# ÖRNEK 18 : | operatörü ile iki kümenin birleşimini almak
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'b', 1, 2, 3, 'c', 'a'}

In [42]:
# NOT : union() fonksiyonu ile birden fazla kümenin birleşimini almak mümkündür.

# ÖRNEK 19 : union() fonksiyonu ile birden fazla kümenin birleşimini almak
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'bananas', 'apple', 'Elena', 'John', 'c', 'b', 'a', 'cherry'}

In [45]:
# NOT : | operatörü ile birden fazla kümenin birleşimini almak mümkündür. | operatörü yalnızca küme birleşimini alır.

# ÖRNEK 19 : | operatörü ile birden fazla kümenin birleşimini almak
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'bananas', 'apple', 'Elena', 'John', 'c', 'b', 'a', 'cherry'}

In [44]:
# NOT : union() fonksiyonu ile farklı veri yapılarını da birleştirebiliriz.
x = {"a", "b", "c"} # küme
y = (1, 2, 3)  # tuple

z = x.union(y)
print(z)

{1, 2, 3, 'c', 'a', 'b'}

In [47]:
# 3 - update() : İki kümenin birleşimini almak için kullanılır.

# ÖRNEK 20 : update() fonksiyonu ile iki kümenin birleşimini almak
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

# NOT : Hem union()ve hem de update() kullanılması yinelenen öğeleri hariç tutacaktır.

{'b', 1, 2, 3, 'c', 'a'}

In [48]:
# 4 - intersection() : İki kümenin kesişimini almak için kullanılır.

# ÖRNEK 21 : intersection() fonksiyonu ile iki kümenin kesişimini almak
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [51]:
# 5 - & operatörü : İki kümenin kesişimini almak için kullanılır. Yalnızca kümeleri kümelerle birleştirmenize izin verir.

# ÖRNEK 22 : & operatörü ile iki kümenin kesişimini almak
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [52]:
# 6 - intersection_update() : İki kümenin kesişimini almak için kullanılır.

# ÖRNEK 23 : intersection_update() fonksiyonu ile iki kümenin kesişimini almak
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [53]:
# 7 - difference() : İki kümenin farkını almak için kullanılır.

# ÖRNEK 24 : difference() fonksiyonu ile iki kümenin farkını almak
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [56]:
# 8 - " - " operatörü : İki kümenin farkını almak için kullanılır. Yalnızca kümeleri kümelerle çıkarmamıza izin verir.

# ÖRNEK 25 : " - " operatörü ile iki kümenin farkını almak
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [57]:
# 9 - difference_update() : İki kümenin farkını almak için kullanılır.

# ÖRNEK 26 : difference_update() fonksiyonu ile iki kümenin farkını almak
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

In [58]:
# 10 - symmetric_difference() : İki kümenin simetrik farkını almak için kullanılır.

# ÖRNEK 27 : symmetric_difference() fonksiyonu ile iki kümenin simetrik farkını almak
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'cherry', 'google', 'microsoft'}

In [59]:
# 11 - ^ operatörü : İki kümenin simetrik farkını almak için kullanılır. Yalnızca kümeleri kümelerle işlem yapmanıza izin verir.

# ÖRNEK 28 : ^ operatörü ile iki kümenin simetrik farkını almak
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'banana', 'cherry', 'google', 'microsoft'}

In [60]:
# 12 - symmetric_difference_update() : İki kümenin simetrik farkını almak için kullanılır.

# ÖRNEK 29 : symmetric_difference_update() fonksiyonu ile iki kümenin simetrik farkını almak
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'banana', 'cherry', 'google', 'microsoft'}