# KATEGORİK VERİ 
Verileriniz dizelerle temsil edilen kategorilere sahip olduğunda, bunları genellikle yalnızca sayısal verileri kabul eden makine öğrenimi modellerini eğitmek için kullanmak zor olacaktır.

Kategorik verileri yok saymak ve bilgileri modelimizin dışında bırakmak yerine, verileri modellerinizde kullanılabilecek şekilde dönüştürebilirsiniz.

In [1]:
import pandas as pd
from sklearn import linear_model
df = pd.read_csv("data.csv")
print(df)

c:\Users\HP\anaconda\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

           Car       Model  Volume  Weight  CO2
0       Toyoty        Aygo    1000     790   99
1   Mitsubishi  Space Star    1200    1160   95
2        Skoda      Citigo    1000     929   95
3         Fiat         500     900     865   90
4         Mini      Cooper    1500    1140  105
5           VW         Up!    1000     929  105
6        Skoda       Fabia    1400    1109   90
7     Mercedes     A-Class    1500    1365   92
8         Ford      Fiesta    1500    1112   98
9         Audi          A1    1600    1150   99
10     Hyundai         I20    1100     980   99
11      Suzuki       Swift    1300     990  101
12        Ford      Fiesta    1000    1112   99
13       Honda       Civic    1600    1252   94
14      Hundai         I30    1600    1326   97
15        Opel       Astra    1600    1330   97
16         BMW           1    1600    1365   99
17       Mazda           3    2200    1280  104
18       Skoda       Rapid    1600    1119  104
19        Ford       Focus    2000    1328  105
20        Ford      Mondeo    1600    1584   94
21        Opel    Insignia    2000    1428   99
22    Mercedes     C-Class    2100    1365   99
23       Skoda     Octavia    1600    1415   99
24       Volvo         S60    2000    1415   99
25    Mercedes         CLA    1500    1465  102
26        Audi          A4    2000    1490  104
27        Audi          A6    2000    1725  114
28       Volvo         V70    1600    1523  109
29         BMW           5    2000    1705  114
30    Mercedes     E-Class    2100    1605  115
31       Volvo        XC70    2000    1746  117
32        Ford       B-Max    1600    1235  104
33         BMW         216    1600    1390  108
34        Opel      Zafira    1600    1405  109
35    Mercedes         SLK    2500    1395  120

Araba veya Model sütununu sayısal olmadığı için verilerimizde kullanamıyoruz. Kategorik bir değişken olan Araba veya Model ile sayısal bir değişken olan CO2 arasında doğrusal bir ilişki belirlenemez.

Bu sorunu çözmek için, kategorik değişkenin sayısal bir temsiline sahip olmamız gerekir. Bunu yapmanın bir yolu, kategorideki her grubu temsil eden bir sütuna sahip olmaktır.

Her sütun için değerler 1 veya 0 olacaktır; burada 1, grubun dahil edilmesini ve 0, hariç tutulmayı temsil eder. Bu dönüşüme tek sıcak kodlama denir.

In [2]:
ohe_cars=pd.get_dummies(df[['Car']])
print(ohe_cars)

    Car_Audi  Car_BMW  Car_Fiat  Car_Ford  Car_Honda  Car_Hundai  Car_Hyundai  \
0          0        0         0         0          0           0            0
1          0        0         0         0          0           0            0
2          0        0         0         0          0           0            0
3          0        0         1         0          0           0            0
4          0        0         0         0          0           0            0
5          0        0         0         0          0           0            0
6          0        0         0         0          0           0            0
7          0        0         0         0          0           0            0
8          0        0         0         1          0           0            0
9          1        0         0         0          0           0            0
10         0        0         0         0          0           0            1
11         0        0         0         0          0           0            0
12         0        0         0         1          0           0            0
13         0        0         0         0          1           0            0
14         0        0         0         0          0           1            0
15         0        0         0         0          0           0            0
16         0        1         0         0          0           0            0
17         0        0         0         0          0           0            0
18         0        0         0         0          0           0            0
19         0        0         0         1          0           0            0
20         0        0         0         1          0           0            0
21         0        0         0         0          0           0            0
22         0        0         0         0          0           0            0
23         0        0         0         0          0           0            0
24         0        0         0         0          0           0            0
25         0        0         0         0          0           0            0
26         1        0         0         0          0           0            0
27         1        0         0         0          0           0            0
28         0        0         0         0          0           0            0
29         0        1         0         0          0           0            0
30         0        0         0         0          0           0            0
31         0        0         0         0          0           0            0
32         0        0         0         1          0           0            0
33         0        1         0         0          0           0            0
34         0        0         0         0          0           0            0
35         0        0         0         0          0           0            0

    Car_Mazda  Car_Mercedes  Car_Mini  Car_Mitsubishi  Car_Opel  Car_Skoda  \
0           0             0         0               0         0          0
1           0             0         0               1         0          0
2           0             0         0               0         0          1
3           0             0         0               0         0          0
4           0             0         1               0         0          0
5           0             0         0               0         0          0
6           0             0         0               0         0          1
7           0             1         0               0         0          0
8           0             0         0               0         0          0
9           0             0         0               0         0          0
10          0             0         0               0         0          0
11          0             0         0               0         0          0
12          0             0         0               0         0          0
13          0             0         0               0         0          0
14          0             0         0               0         0          0
15          0             0         0               0         1          0
16          0             0         0               0         0          0
17          1             0         0               0         0          0
18          0             0         0               0         0          1
19          0             0         0               0         0          0
20          0             0         0               0         0          0
21          0             0         0               0         1          0
22          0             1         0               0         0          0
23          0             0         0               0         0          1
24          0             0         0               0         0          0
25          0             1         0               0         0          0
26          0             0         0               0         0          0
27          0             0         0               0         0          0
28          0             0         0               0         0          0
29          0             0         0               0         0          0
30          0             1         0               0         0          0
31          0             0         0               0         0          0
32          0             0         0               0         0          0
33          0             0         0               0         0          0
34          0             0         0               0         1          0
35          0             1         0               0         0          0

    Car_Suzuki  Car_Toyoty  Car_VW  Car_Volvo
0            0           1       0          0
1            0           0       0          0
2            0           0       0          0
3            0           0       0          0
4            0           0       0          0
5            0           0       1          0
6            0           0       0          0
7            0           0       0          0
8            0           0       0          0
9            0           0       0          0
10           0           0       0          0
11           1           0       0          0
12           0           0       0          0
13           0           0       0          0
14           0           0       0          0
15           0           0       0          0
16           0           0       0          0
17           0           0       0          0
18           0           0       0          0
19           0           0       0          0
20           0           0       0          0
21           0           0       0          0
22           0           0       0          0
23           0           0       0          0
24           0           0       0          1
25           0           0       0          0
26           0           0       0          0
27           0           0       0          0
28           0           0       0          1
29           0           0       0          0
30           0           0       0          0
31           0           0       0          1
32           0           0       0          0
33           0           0       0          0
34           0           0       0          0
35           0           0       0          0

In [3]:
X = pd.concat([df[['Volume','Weight']],ohe_cars],axis=1) 
y = df['CO2']

In [4]:
regr=linear_model.LinearRegression()
regr.fit(X,y)

LinearRegression()

In [5]:
tahminCO2=regr.predict([[2300,1300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0]])
print(tahminCO2)

[122.45153299]

In [7]:
colors = pd.DataFrame({'color': ['blue', 'red']}) #
dummies = pd.get_dummies(colors, drop_first=True)
print(colors)
print("***********************")
print(dummies)

  color
0  blue
1   red
***********************
   color_red
0          0
1          1

In [8]:
colors = pd.DataFrame({'color': ['blue', 'red', 'green']})
dummies2 = pd.get_dummies(colors, drop_first=True)
dummies2['color'] = colors['color']

print(dummies2)

   color_green  color_red  color
0            0          0   blue
1            0          1    red
2            1          0  green